@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

a {
  text-decoration: none;
}

.meal-container {
  max-width: 280px;
  margin: 25px 10px;
}

.img-container {
  min-height: 150px;
  max-width: 300px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

.title {
  font-size: 16px;
  color: black;
}

.filter-meal {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: transparent;
}

.filter-meal:focus {
  border: none;
}

.fontSize {
  font-size: 24px;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.m-3 {
  padding-right: 10px;
}

.img-container__meal {
  width: 85%;
  height: 300px;
}
